body {
    background-color: #ffffff;
    /*padding-top: 50px;*/
}

h1 {
    font-size: 48px;
}

.container {
    text-align: center;
}

.heading {
  padding: 30px 15px;
  text-align: center;
}

#stalls {
    width: 1100px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.label {
    display: none;
    position: absolute;
    color: black;
    left: 200px;
    top: 430px;
}

.label span {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
}